<div class="col-3">
    <div class="card text-center">
        <ul class="list-group list-group-flush">
            <%= link_to "Your Listing", rooms_path, class:"list-group-item text-info" %>
            <%= link_to "Your Reservation", your_reservations_path, class:"list-group-item text-info" %>
            <%= link_to "Your Trips", your_trips_path, class:"list-group-item text-info" %>
        </ul>
    </div>
    <div class="mt-5 text-center">
        <%= link_to "Back", "", class:"btn btn-outline-warning w-50" %>
    </div>    
</div>