<%= provide(:title, "Edit Listing")%>
<div class="row">
    <div class="col-3">
        <%= render "lists" %>
    </div>
    <div class="col-9">
        <%= render "form", btn_name: "Save", header_list: "Listing" %>
    </div>
</div>