// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.scss_image {
    background-image: asset_url("bg-img.jpg");
    background-size: cover;
    height: 500px;
}